
@{
    ViewBag.Title = "DashboardLabTec";
    Layout = "~/Views/Shared/LabTec.cshtml";
}

<h2>DashboardLabTec</h2>

<div id="page-wrapper">
    <div class="main-page">
        @ViewBag.aux
    </div>
</div>