<div class="row">
    <div class="col-md-1"></div>
    <div class="panel panel-widget col-md-10">
        <div class="progressbar-heading grids-heading">
            <h2>Add Patient Info</h2>
        </div>

        <div class="col-md-12" ng-controller="PatientController" ng-init="elemReady()">
           
            <div class="forms">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="focusedinput1" class="col-sm-2 control-label">Patient's Name </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="focusedinput1" placeholder="{{Name}}" ng-model="Users.Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="focusedinput3" class="col-sm-2 control-label">Patient's Address</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="focusedinput3" placeholder="{{Address}}" ng-model="Users.Address" @*ng-disabled="Users.Address != null && Aux == true"*@ />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="focusedinput4" class="col-sm-2 control-label">Patient's Email </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="focusedinput4" placeholder="{{Email}}" ng-model="Users.Email" @*ng-disabled="Users.Email != null && Aux == true"*@ />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="focusedinput2" class="col-sm-2 control-label">Patient's Telephone</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="focusedinput2" placeholder="{{Telephone}}" ng-model="Users.Telephone" @*ng-disabled="Users.Telephone != null && Aux == true"*@ />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Patient's Gender</label>
                        <div class="col-md-8">
                            <select ng-options="x as x.GenderName for x in Genders" ng-model="gender">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Patient's Marital Status</label>
                        <div class="col-md-8">
                            <select ng-options="x as x.MaritalStatusName for x in Marital" ng-model="MaritalStatus">
                            </select>
                        </div>
                    </div>

                </div>
            
            </div>

            <button type="submit" class="btn btn-primary" ng-click="savePatientData(gender, MaritalStatus)" style="float:right">Save Patient Info</button>
        </div>

    </div>
    <div class="col-md-1"></div>


</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="panel panel-widget col-md-10">
        <div class="progressbar-heading general-heading">
            <h4>Family History</h4>
        </div>

        <div class="well col-md-3" ng-controller="PatientFamilyHistoryController">

            <div id="mcdtDropDown" class="form-control-wrapper dropdown dropdown-toggle">

                <label>Family History</label><br />

                <select id="familyHistoryLvl1"
                        class="form-control"
                        name="familyHistoryDropdown1"
                        ng-model="FamilyHistoryCategories"
                        ng-options="cg as cg.FamilyHistoryCategoryName for cg in familyHistoryLvl1"
                        ng-change="processLevel2F()">
                    <option value="" selected="selected">Choose</option>
                </select>
                <br />


                <select id="familyHistoryLvl2"
                        class="form-control"
                        name="familyHistoryDropdown2"
                        ng-model="FamilyHistories"
                        ng-options="cg as cg.FamilyHistoryName for cg in familyHistoryLvl2">
                    <option value="" selected="selected">Choose</option>
                </select>
                <br />

                <div class="form-group">
                    <label for="focusedinput4" class="control-label">Family History Carrier: </label>
                    <input type="text" id="focusedinput4" placeholder="Carrier" class="form-control floating-label" ng-model="FamilyHistoryManagers" required />
                </div>

                <button type="submit" class="btn btn-primary" ng-click="processLevel3()">Add To Basket</button>
            </div>

        </div>
        <div class="col-md-1"></div>

        <div class="well col-md-8" ng-controller="PatientFamilyHistoryController">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Family History</th>
                        <th>Carrier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ViewModel in ListFamilyHistoryVm track by $index">
                        <td> {{ViewModel.Name}}</td>
                        <td> {{ViewModel.Carrier}}</td>
                        <td>
                            <span ng-click="deleteFamilyHistory(ViewModel)" class="glyphicon glyphicon-trash" style="color:blue"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" ng-click="saveHistoryFactors()">Save</button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-1"></div>

    <div class="panel panel-widget col-md-10">
        <div class="progressbar-heading general-heading">
            <h4>Allergies</h4>
        </div>

        <div class="well col-md-3" ng-controller="PatientAllergiesController">

            <div id="mcdtDropDown" class="form-control-wrapper dropdown dropdown-toggle">

                <label>Allergies</label><br />

                <select id="allergiesLvl1"
                        class="form-control"
                        name="allergiesDropdown1"
                        ng-model="AllergyCategories"
                        ng-options="cg as cg.AllergyCategoryName for cg in allergiesLvl1"
                        ng-change="processLevel2A()">
                    <option value="" selected="selected">Choose</option>
                </select>
                <br />


                <select id="allergiesLvl2"
                        class="form-control"
                        name="allergiesDropdown2"
                        ng-model="Allergies"
                        ng-options="cg as cg.Allergy_Name for cg in allergiesLvl2">
                    <option value="" selected="selected">Choose</option>
                </select>
                <br />

                <div class="form-group">
                    <label for="focusedinput5" class="control-label">Allergy Start Date: </label>
                    <input type="date" class="form-control floating-label" ng-model="AllergiesManager" id="focusedinput5" placeholder="Start Date" required />
                </div>

                <button type="submit" class="btn btn-primary" ng-click="processLevel3A()">Add To Basket</button>

            </div>

        </div>
        <div class="col-md-1"></div>
        <div class="well col-md-8" ng-controller="PatientAllergiesController">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Allergy</th>
                        <th>Start Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ViewModelAllergy in listAllergyVm track by $index">
                        <td> {{ViewModelAllergy.AllergyName}}</td>
                        <td>{{ViewModelAllergy.StartDate}}</td>
                        <td>
                            <span ng-click="deleteAllergy(ViewModelAllergy)" class="glyphicon glyphicon-trash" style="color:blue"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" ng-click="saveAllergy()">Save</button>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="panel panel-widget col-md-10">
        <div class="progressbar-heading general-heading">
            <h4>Risk Factors</h4>
        </div>

        <div class="well col-md-3" ng-controller="PatientRiskFactorsController">

            <div id="mcdtDropDown" class="form-control-wrapper dropdown dropdown-toggle">

                <label>Risk Factors</label><br />

                <select id="riskFactorsLvl1"
                        class="form-control"
                        name="riskFactorsDropdown1"
                        ng-model="RiskFactorsCategories"
                        ng-options="cg as cg.RiskFactorsName for cg in riskFactorsLvl1"
                        ng-change="processLevel2R()">
                    <option value="" selected="selected">Choose</option>
                </select>
                <br />


                <select id="riskFactorsLvl2"
                        class="form-control"
                        name="riskFactorsDropdown2"
                        ng-model="RiskFactors"
                        ng-options="cg as cg.RiskFactorName for cg in riskFactorsLvl2">
                    <option value="" selected="selected">Choose</option>
                </select>
                <br />

                <button type="submit" class="btn btn-primary" ng-click="processLevel3R()">Add To Basket</button>

            </div>

        </div>
        <div class="col-md-1"></div>
        <div class="well col-md-8" ng-controller="PatientRiskFactorsController">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Risk Factor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ViewModelRisk in listRiskFactorVm track by $index">
                        <td> {{ViewModelRisk.Name}}</td>

                        <td>
                            <span ng-click="deleteRiskFactor(ViewModelRisk)" class="glyphicon glyphicon-trash" style="color:blue"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" ng-click="saveRiskFactor()">Save</button>
        </div>
        <div class="col-md-1"></div>

    </div>
</div>

