
<div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
    <h4 class="modal-title" id="myModalLabel">Monitorization </h4>
</div>
<div class="modal-body">
    <div ng-controller="RegularExamHistoryController">
        <select id="MCDTid_level1"
                class="form-control"
                name="MCDTdropdown1"
                ng-model="Mcdt"
                ng-options="cg as cg.desc for cg in McdtListLevel1"
                ng-change="processLevel1()"
                ng-disabled="Mcdt.desc != categoria">
            <option value="" selected="selected">Choose</option>
        </select>
        <br />

        <select id="MCDTid_level2"
                class="form-control"
                name="MCDTdropdown2"
                ng-model="Mcdt"
                ng-hide="Mcdt.desc == null"
                ng-options="cg as cg.desc for cg in McdtListLevel2"
                ng-change="clickedElement2(Mcdt.desc, Mcdt.cat)">
            <option value="" selected="selected">Choose</option>
        </select>

        <div class="chrt-page-grids" ng-controller="RegularExamHistoryController">
            <canvas id="line" height="300" width="400" style="width: 400px; height: 300px;"></canvas>
        </div>
    </div>
</div>
