
<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Update Allergy</h4>
</div>
<div class="modal-body">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <div class="form-body" >
        <form class="form-horizontal" ng-controller="PatientInformationsController">

            <div class="form-group">
                <label for="focusedinput3" class="col-md-2 control-label">Allergy</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="focusedinput3" value="{{AllergyName}}" ng-disabled="true"/>
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput4" class="col-md-2 control-label">Start Date</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="focusedinput4" value="{{AllergyStartDate}}" ng-disabled="true"/>
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput5" class="col-md-2 control-label">End Date</label>
                <div class="col-md-8">
                    <input type="date" class="form-control" id="focusedinput5" ng-model="AllergyEndDate" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="UpdateAllergyDatabase(AllergyEndDate); $close()">Save To Database</button>
            </div>
        </form>
    </div>
</div>
