

                    <div class="panel panel-widget">
                        <div class="pull-left compose-left">
                            <div class="folder widget-shadow">
                                <ul>
                                    <li class="head">observations</li>
                                    <li><a href="inbox.html"><i class="fa fa-inbox"></i>new <span>52</span></a></li>
                                    <li><a href="#"><i class="fa fa fa-envelope-o"></i>archive </a></li>
                                 
                                </ul>
                            </div>
                        </div>
                     
                <div class="col-md-10 pull-right">
                    <div class="panel panel-widget">
                        <div class="compose-right widget-shadow">
                            <div class="panel-default">
                                <div class="panel-heading">
                                    Compose new 
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        Please fill details 
                                    </div>
                                    <form class="com-mail">
                                       
                                        <input type="text" class="form-control1 control3" placeholder="Subject :">
                                        <textarea rows="6" class="form-control1 control2" placeholder="Observation :"></textarea>
                                        <div class="form-group">
                                            <div class="btn btn-default btn-file">
                                                <i class="fa fa-paperclip"></i> Attachment
                                                <input type="file" name="attachment">
                                            </div>
                                            <p class="help-block">Max. 32MB</p>
                                        </div>
                                        <input type="submit" value="Send Message">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

     